{{ define "title" -}}
{{- partialCached "function/page-title-with-section" . .URL }} | {{ .Site.Title }}
{{- end }}

{{ define "main" }}
    {{ "<!-- _default/single.html start -->" | safeHTML }}
    <header class="has-text-centered">
      <h1 class="title">{{ partialCached "function/page-title-with-section" . .URL }}</h1>

      <div>
        {{ "<!-- partials/date.html start -->" | safeHTML }}
        {{ partial "date" . }}
        {{ "<!-- partials/date.html end -->" | safeHTML }}
      </div>

      {{ "<!-- partials/tags.html start -->" | safeHTML }}
      {{- range .Params.tags }}
      <div class="tag">
          {{ partialCached "tag" (dict "site" $.Site "tag" .) . }}
      </div>
      {{- end }}
      {{ "<!-- partials/tags.html end -->" | safeHTML }}
    </header>

    {{ $siteLayout := (default "blog" .Site.Params.siteLayout) }}
    <section class="section">
      <div class="columns">
        {{- if (not (eq $siteLayout "blog")) }}
        <div class="column"></div>
        {{- end }}
        <div class="column is-8-desktop is-8-tablet">
          {{- $useAdsense := (default true .Site.Params.useAdsense) }}
          {{- $noadsense := (default false .Params.noadsense) }}
          {{- if (and $useAdsense (not $noadsense)) }}
          <aside>
          {{ partialCached "adsense" . }}
          </aside>
          {{- end }}

          {{- $showTocDefault := (default false .Site.Params.showTocDefault) }}
          {{- $showTocArticle := (default $showTocDefault .Params.toc) }}
          {{- $showTocWords := (default 200 .Site.Params.showTocWords) }}
          {{- if (and (gt .WordCount $showTocWords) $showTocArticle) }}
          <nav class="content">
            <h2 data-toc-ignore="true">目次</h2>
            {{ .TableOfContents }}
          </nav>
          {{- end }}

          <div id="content" class="content">
            {{ "<!-- .Content start -->" | safeHTML }}
            {{ .Content }}
            {{ "<!-- .Content end -->" | safeHTML }}

            {{ "<!-- partials/extension/single.content.after.html start -->" | safeHTML }}
            {{- partial "extension/single.content.after.html" . }}
            {{ "<!-- partials/extension/single.content.after.html end -->" | safeHTML }}
          </div>

          {{- if (not $noadsense) }}
          <aside>
          {{ partialCached "adsense" . }}
          </aside>
          {{- end }}
        </div>
        <div class="column">
          {{- if (eq $siteLayout "blog") }}
            {{- partialCached "recent" . .Section }}
            {{- partial "related" . }}
          {{- end }}

          {{ "<!-- partials/extension/single.right.after.html start -->" | safeHTML }}
          {{- partial "extension/single.right.after.html" . }}
          {{ "<!-- partials/extension/single.right.after.html end -->" | safeHTML }}
        </div>
      </div>
    </section>
    {{ "<!-- _default/single.html end -->" | safeHTML }}
{{ end }}
