{{ define "title" -}}
{{ partialCached "function/page-title-with-section" . .RelPermalink }} - {{ .Site.Title }}
{{- end }}

{{ define "main" }}
{{- $taxonomyParams := .Site.Params.taxonomy }}
{{- $groupBySection := $taxonomyParams.groupbysection }}
  <header class="has-text-centered">
    <h1 class="title">{{ partialCached "function/page-title-with-section" . .RelPermalink }}</h1>
  </header>

  <section class="section">
    <div class="container">
      <div class="content">
        {{ .Content }}
        {{- if $groupBySection }}
          <!-- 他セクションの内容を表示 -->
          <ul>
          {{- range .Site.Sections }}
            {{- $sectionPage := .Site.GetPage "page" (print .Section "/" $.Data.Term ".md") }}
            {{- with $sectionPage }}
              <li><a href="{{ .RelPermalink }}">{{ partialCached "function/page-title-with-section" . .RelPermalink }}</a></li>
            {{- end }}
          {{- end }}
          </ul>

          {{ range .Data.Pages.GroupBy "Section" -}}
            {{ $sectionPage := $.Site.GetPage "section" .Key }}
            <h3>{{ $sectionPage.Title }}</h3>
            <ul class="container">
            {{- range .Pages.ByTitle }}
              <li><a href="{{ .RelPermalink }}">{{ partialCached "function/page-title" . .RelPermalink }}</a></li>
            {{- end }}
            </ul>
          {{ end -}}
        {{- else }}
        <ul>
          {{- range .Data.Pages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{- end }}
        </ul>
        {{- end }}
      </div>
    </div>
  </section>
{{ end }}
