{{ define "title" -}}
{{ .Page.Title }} - {{ .Site.Title }}
{{- end }}

{{ define "main" }}
  {{ "<!-- _default/terms.html start -->" | safeHTML }}
  <header class="has-text-centered">
    <h1 class="title">{{ .Title }}</h1>
  </header>

  <section class="section">
    <div class="container">
      <div class="content">
        {{ .Content }}
        <ul class="container">
          {{- range $key, $value := .Data.Terms.ByCount }}
          {{- $tagPage := $.Site.GetPage "taxonomy" (printf "%s/%s" $.Data.Plural $value.Name) }}
          <li><a href="{{ $tagPage.RelPermalink }}">{{ partialCached "function/common-page-title" $tagPage $tagPage.RelPermalink }}</a>: {{ $value.Count }}</li>
          {{- end }}
        </ul>
      </div>
    </div>
  </section>
  {{ "<!-- _default/terms.html end -->" | safeHTML }}
{{ end }}
