{{- $latestPageNum := 5 }}
{{- $pages := (where (where .Site.Pages.ByDate.Reverse "Type" "post") "Section" .Section) }}
<div class="content">
  <h3 data-toc-ignore="true">{{ i18n "recentArticle" }}
    {{- if .Site.Params.showSectionToTitle }}({{ partialCached "function/section-name" . .Section }}){{ end }}
  </h3>
  <ul class="is-size-6">
    {{- range first $latestPageNum $pages }}
    <li>
      <a href="{{ .URL }}">
        {{- partialCached "function/page-title" . .URL }}
      </a>
    </li>{{ "" -}}
    {{- end }}
  </ul>
</div>
